{{#each this}}
<li class="films__item" data-id={{id}}>
	<div class="films__card">
		<a
			class="films__link"
			href="{{img}}" 
		>
			<img
				class="films__img"
				src="{{img}}"
				alt="{{title}}"
				loading="lazy"
			/>
			<div class="films__info">
				<p class="films__name">{{title}}</p>

				<p class="films__description">
					{{genre}} | {{releaseDate}}
				</p>
			</div>
		</a>
	</div>
</li>
{{/each}}