
{{#each this}}
<ul class="team__list">
          <li class="team__item">
            <img
              src="{{photo}}"
              alt="Anna Tsisar"
              class="team__item-img"             
            />
            <p class="team__item-name">{{name}}</p>
            <p class="team__item-role">{{role}}</p>
            <div class="team__item-wrap"><a href="{{git}}" target=_blank
              >
              <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="" class="team__item-icon"></a>
              <a href="{{ln}}" target=_blank>
              <img src="https://cdn4.iconfinder.com/data/icons/social-media-free-13/32/Linkedin_social_media_logo-512.png" alt="" class="team__item-icon"></a>
              </div>
           
          </li>
{{/each}}